<ul>
    <li><a href="/dashboard" style="color: gray;">
      <span class="material-symbols-outlined" style="color: gray;">dashboard</span>Dashboard</a></li>
    <li><a href="/portfolios">
      <span class="material-symbols-outlined">folder_open</span>Portfolios</a></li>
    <li><a href="/trade">
      <span class="material-symbols-outlined">query_stats</span>Market</a></li>
    <li><a href="/accounts">
      <span class="material-symbols-outlined">account_balance_wallet</span>Accounts</a></li>
    <li><a href="/profile" style="color: gray;">
      <span class="material-symbols-outlined">person</span>Profile</a></li>
  </ul>