<!-- Dette er et modul for en sidebar 
Det er en liste hvor hvert punkt referer til en bestemt side i applikationen.
vi indsætter et symbol og et navn på listen-->
<ul>
    <li><a href="/dashboard">
      <span class="material-symbols-outlined">dashboard</span>Dashboard</a></li>
    <li><a href="/portfolios">
      <span class="material-symbols-outlined">folder_open</span>Portfolios</a></li>
    <li><a href="/trade">
      <span class="material-symbols-outlined">query_stats</span>Market</a></li>
    <li><a href="/accounts">
      <span class="material-symbols-outlined">account_balance_wallet</span>Accounts</a></li>
    <li><a href="/profile" style=>
      <span class="material-symbols-outlined">person</span>Profile</a></li>
  </ul>