<!-- laver en topbar til at vise brugerens navn og en logout knap -->
<div id="topBar_id">
    <h1>PORTFOLIOTRACKER</h1>
    <form action="/logout" method="POST" style="display: inline;">
      <button type="submit" id="logoutButton" title="Log out">
        <span class="material-symbols-outlined">
          account_circle_off
        </span>
      </button>
    </form>
</div>