<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opret Portefølje</title>
    <link rel="stylesheet" href="/addportfolios_style.css">
</head>

<body>
    <div class="container">
        <h1>Create new Portfolio</h1>
        <form action="/create-portfolio" method="POST" class="form-box">
            <label for="portfolioName">Portfolio name:</label>
            <input type="text" id="portfolioName" name="portfolioName" required>

            <label for="accountId">Choose account:</label>
            <select id="accountId" name="accountId" required>
                <% accounts.forEach(account => { %>
                    <option value="<%= account.id %>">
                        <%= account.name %> - <%= account.currency %>
                    </option>
                <% }) %>
            </select>

            <button type="submit" class="primary-btn">Create portfolio</button>
        </form>
    </div>
</body>

</html>