<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfoliotracker - Dashboard</title>
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <div>
        <h1>PORTFOLIOTRACKER</h1>
    </div>

    <ul>
        <li><a href="#home"><span class="material-symbols-outlined">dashboard</span></a></li>
        <li><a href="#news"><span class="material-symbols-outlined">folder_open</span></a></li>
        <li><a href="#contact"><span class="material-symbols-outlined">query_stats</span></a></li>
        <li><a href="#about"><span class="material-symbols-outlined">account_balance_wallet</span></a></li>
        <li><a href="#about"><span class="material-symbols-outlined">person</span></a></li>
      </ul>

      <div id="realiseret_gevinst_box_id">
        <font>realiseret gevinst</font>
      </div>
      <div id="fem_værdifulde_værdipapirer_box">
        <font>5 mest værdifulde værdipapirer på tværs af porteføljer</font>
      </div>
      <div id="urealiseret_gevinst_box_id">
        <font>urealiseret gevinst</font>
      </div>
      <div id="fem_værdifulde_værdipapirer_urealiseret_box">
        <font>5 mest urealiseret værdifulde værdipapirer på tværs af porteføljer</font>
      </div>
</body>
</html>