<!DOCTYPE html> 
<html lang="en" dir="ltr"> <!-- Angiver sproget som engelsk og retningen som venstre til højre -->
   <head>
      <meta charset="utf-8"> 
      <title>Login Form</title> <!-- Titel -->
      <link rel="stylesheet" href="indexStyle.css"> <!-- Linker til en ekstern CSS-fil for styling -->
   </head>
   <body>
      <div id="topBar_id"> <!-- En container til topbaren - bruger ikke modul da man ikke skal kunne logge ud -->
         <h1>PORTFOLIOTRACKER</h1> <!-- Overskrift -->
     </div>

      <div class="wrapper"> <!-- En wrapper-container til login-formularen -->
         <h2>Login</h2> <!-- Overskrift for login-sektionen -->
         <form action="/login" method="POST"> <!-- Formular, der sender data til serveren via POST-metoden -->
            <div class="field"> <!-- En container til brugernavn-feltet -->
               <label>Username</label> <!-- Label for brugernavn-input -->
               <input type="text" name="username" required> <!-- Inputfelt til brugernavn, kræver en værdi -->
            </div>
            <div class="field"> <!-- En container til kodeord-feltet -->
               <label>Password</label> <!-- Label for kodeord-input -->
               <input type="password" name="password" required> <!-- Inputfelt til kodeord, kræver en værdi -->
            </div>
            <div class="field"> <!-- En container til login-knappen -->
               <input type="submit" value="Login"> <!-- Login-knap, der sender formularen -->
            </div>
            <div class="signup-link"> <!-- En container til linket til oprettelse af konto -->
               No account yet? <a href="signup">Create account</a> <!-- Link til signup-siden -->
            </div>
         </form>
      </div>
   </body>
</html>