<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login Form</title>
      <link rel="stylesheet" href="index_style.css">
   </head>
   <body>
      <br><br>
      <h1>PortfolioTracker</h1>
      <h3>Investeringsplatformen for studerende</h3>

      <br><br>

      <div class="wrapper">
         <div class="title">
            Login
         </div>
         <form action="#">
            <div class="field">
               <label>Email Adresse</label>
               <input type="text" required>
            </div>
            <div class="field">
               <label>Password</label>
               <input type="password" required>
               
            </div>
            <div class="field">
               <input type="submit" value="Login">
            </div>
            <div class="signup-link">
               Ikke oprettet endnu? <a href="signup.ejs">Opret konto</a>
            </div>
         </form>
      </div>
   </body>
</html>