<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login Form</title>
      <link rel="stylesheet" href="index_style.css">
   </head>
   <body>
      <br><br>
      <h1>PortfolioTracker</h1>
      <h3>Investeringsplatformen for studerende</h3>

      <br><br>

      <div class="top-right-buttons">
         <a href="login" class="button">Login</a>
         <a href="signup" class="button">Opret Konto</a>
       </div>

      
   </body>
</html>