<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfoliotracker - Market</title>
        <link href="profile_style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
</html>

<body>
    <div id="topBar_id">
        <h1>PORTFOLIOTRACKER</h1>
        <span class="material-symbols-outlined" id="topBar_goBack_id">home</span>
    </div>

    <ul>
        <li><a href="/dashboard"><span class="material-symbols-outlined">dashboard</span>Dashboard</a></li>
        <li><a href="/portfolios"><span class="material-symbols-outlined">folder_open</span>Portfolios</a></li>
        <li><a href="/trade"><span class="material-symbols-outlined">query_stats</span>Market</a></li>
        <li><a href="/accounts"><span class="material-symbols-outlined">account_balance_wallet</span>Accounts</a></li>
        <li><a href="/profile" style="color: gray;"><span class="material-symbols-outlined" style="color: gray;">person</span>Profile</a></li>
    </ul>

    <div id="profileBox_id">
        <h2 id="fornavn_efternavn_id">Fornavn Efternavn</h2>
        <hr>
        <input placeholder="Fornavn"><input placeholder="Efternavn">
        <br>
        <input placeholder="e-mail" style="width: 335px;">
        <hr>
        <input placeholder="Brugernavn">
        <input placeholder="Adgangskode">
    </div>
</body>