<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfoliotracker - Market</title>
  <link href="profileStyle.css" rel="stylesheet">
  <link href="sharedComponents.css" rel="stylesheet"> <!-- Linker til en ekstern CSS-fil for at style siden -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

</html>

<body>
  <%- include('partials/topbar') %>

  <%- include('partials/sidebar') %>

  <div id="profileBox_id">
    <h2 id="profiloplysninger_id">Change password</h2>
    <form id="passwordForm">
      <input type="hidden" id="userId" value="<%= userId %>">
      <input placeholder="New password" id="newPassword" style="width: 300px;" required>
      <br>
      <input placeholder="Confirm password" id="confirmPassword" style="width: 300px;" required>
      <br>
      <button type="button" id="gemÆndringer_id">Save changes</button>
    </form>
    <p id="message" style="color: red;"></p>
  </div>
  <script>
    document.getElementById('gemÆndringer_id').addEventListener('click', async () => {
      const userId = document.getElementById('userId').value;
      const newPassword = document.getElementById('newPassword').value;
      const confirmPassword = document.getElementById('confirmPassword').value;

      // Tjek om adgangskoderne matcher og har mindst 4 tegn
      const messageElement = document.getElementById('message');

      if (newPassword.length < 4) {
        messageElement.style.color = 'red';
        messageElement.textContent = 'The password must be at least 4 characters long.';
        return; // Stop processen, hvis adgangskoden er for kort
      }
      if (newPassword !== confirmPassword) {
        messageElement.style.color = 'red';
        messageElement.textContent = 'The passwords do not match.';
        return; // Stop processen, hvis adgangskoderne ikke matcher
      }

      // Send PUT-anmodning til serveren
      const response = await fetch('/profile/update-password', {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ userId, newPassword, confirmPassword }),
      });

      const result = await response.json();

      if (response.ok) {
        messageElement.style.color = 'green';
        messageElement.textContent = result.success;
      } else {
        messageElement.style.color = 'red';
        messageElement.textContent = result.error;
      }
    });
  </script>



</body>