/* General styling */
body {
  margin: 0;
  background-color: #121212;
  color: lightgray;
  font-family: normalSkrift, Arial, sans-serif;
}

@font-face {
  font-family: normalSkrift;
  src: url(/fonts/Bierstadt.ttf);
}

h1 {
  display: inline-block;
  background-color: #5F45A0;
  color: white;
  margin: 0;
  font-family: Bahnschrift;
  padding: 0.8%;
  font-weight: normal;
}

/* Main Content */
#mainContent {
  margin-left: 21.25%;
  margin-right: 8%; /* Tilføjet for at skabe symmetri */
  padding: 20px;
  margin-top: -14px;
}

#accountsContainer {
  margin-top:0px;
  margin-bottom: 20px;
}

.account {
  background-color: #252525;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
}
.account input{
  font-family: normalSkrift;
  border: none;
  padding: 5px;
  width: 190px;
  border-radius: 5px;
}
.account input:focus{
  outline: none
}

.account h3 {
  margin: 0;
  font-size: 20px;
  
}

.account p {
  margin: 5px 0;
  font-size: 90%;
  
}

h2{
  font-size: 200%;
  margin-left: 10px;
}

.account button {
  margin-right: 10px;
  padding: 5px 15px;
  background-color: #5F45A0;
  color: white;
  border: none;
  cursor: pointer;
  padding-bottom: 6.5px;
  
}

.account button:hover {
  background-color: #4a3680;
}

/* Opret ny konto */
#createAccountContainer {
  margin-top: 30px;
  margin-right: 60%/* Matcher venstre margin */
   /* Matcher højre margin */
}

#createAccountContainer form {
  display: flex;
  flex-direction: column;
}

#createAccountContainer label {
  margin-top: 15px;
}

#createAccountContainer input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #252525;
  color: lightgray;
}

#createAccountContainer select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #252525;
  color: lightgray;
}

#createAccountContainer button {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #5F45A0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#createAccountContainer button:hover {
  background-color: #4a3680;
}