body{
    margin: 0;
    background-color: black;
    color: lightgray;
}
#topBar_id{
    width: 100%;
    background-color: #5F45A0;
    display: block;
    position: relative;
  }
  h1{
      display: inline-block;
      background-color: #5F45A0;
      color: white;
      margin: 0;
      font-family: Bahnschrift;
      padding: 0.8%;
      font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
    background-color: #252525;
    margin: 1%;
    border-radius: 8px;
    margin-top: 2.5%;
    float: left;
  }
  
  li a 
  {
    text-decoration: none;
    display: block;
  }
  li a span{
    font-size: 100px;
    display: block;
    color: lightgray;
    font-size: 200% !important;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 13px;
    padding-right: 13px;
  }
  
  li a span:hover 
  {
    
    color: white;
  }
  #stockBox_id{
      width: 37%;
      border: 2px solid lightgray;
      display: inline-block;
      margin-top: 2.7%;
      padding: 0px;
      
  }