body{
    background-color: #121212;
      /* background-color: #141413;*/
      margin: 0;
  }

  @font-face {
    font-family: normalSkrift;
    src: url(/fonts/Bierstadt.ttf);
  }
  #topBar_id{
    width: 100%;
    background-color: #5F45A0;
    display: block;
    position: relative;
  }
  h1{
      display: inline-block;
      background-color: #5F45A0;
      color: white;
      margin: 0;
      font-family: Bahnschrift;
      padding: 0.8%;
      font-weight: normal;
  }

  #topBar_goBack_id{
    display: inline;
    color: white;
    position: absolute;
      top: 50%;
      right: 0; /* Placerer elementet til højre */
      transform: translateY(-50%);
      font-size: 200%;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    background-color: #252525;
    margin: 1%;
    border-radius: 8px;
    margin-top: 2.5%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .material-symbols-outlined {
    vertical-align: middle;
    
}

  li a 
  {
    text-decoration: none;
    display: block;
    font-family: normalSkrift;
    color: lightgray;
  }
  li a span{
    font-size: 100px;
    display: block;
    color: lightgray;
    font-size: 200% !important;
    
    padding-right: 15px;
    padding-top: 17px;
    padding-bottom: 17px;
    
  }

  li a:hover, 
li a:hover span {
  color: gray;
}

#profileBox_id{
    background-color: #252525;
    display: inline-block;
    border-radius: 10px;
    margin-top: 2.5%;
}
#profileBox_id h2{
    margin: 10px;
}
#fornavn_efternavn_id{
    font-family: normalskrift;
    color: lightgray;
}
#profileBox_id input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
    color: lightgray;
    font-family: normalskrift;
    margin: 15px;
    width: 150px;
}
#profileBox_id hr{
    margin-left: 15px;
    margin-right: 15px;
}
#gemÆndringer_id{
  font-family: normalskrift;
  outline: none;
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 6px;
  margin-top: 10px;
}
#gemÆndringer_id:hover{
  cursor: pointer;
  background-color: darkgreen;
}