body{
  background-color: black;
    /* background-color: #141413;*/
    margin: 0;
}

@font-face {
  font-family: normalSkrift;
  src: url(/fonts/Bierstadt.ttf);
}

#topBar_id{
  width: 100%;
  background-color: #5F45A0;
  display: block;
  position: relative;
}
h1{
    display: inline-block;
    background-color: #5F45A0;
    color: white;
    margin: 0;
    font-family: Bahnschrift;
    padding: 0.8%;
    font-weight: normal;
}
#topBar_goBack_id{
  display: inline;
  color: white;
  position: absolute;
    top: 50%;
    right: 0; /* Placerer elementet til højre */
    transform: translateY(-50%);
    font-size: 200%;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: #252525;
    margin: 1%;
    border-radius: 8px;
    margin-top: 2.5%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  li a 
  {
    text-decoration: none;
    display: block;
    font-family: normalSkrift;
    color: lightgray;
  }
  li a span{
    font-size: 100px;
    display: block;
    color: lightgray;
    font-size: 200% !important;
    
    padding-right: 15px;
    padding-top: 17px;
    padding-bottom: 17px;
    
  }

  li a:hover{
    color: gray;
  }



  #container_værdier_id{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    margin: auto;
    padding: 0;
    gap: 2%;
    width: 68%;
    margin-top: 2.5%;
  }

  #totalVærdi_box_id{
    background-color: #252525;
    border-radius: 9px;
    font-family: normalSkrift;
    color: lightgray;
    padding: 10px;
  }

  #totalRealiseretVærdi_box_id{
    background-color: #252525;
    border-radius: 9px;
    font-family: normalSkrift;
    color: lightgray;
    padding: 10px;
  }

  #totalUrealiseretVærdi_box_id{
    background-color: #252525;
    border-radius: 9px;
    font-family: normalSkrift;
    color: lightgray;
    padding: 10px;
  }

  #samletVærdi_boks_id{
    background-color: #252525;
    border-radius: 9px;
    width: 66%;
    margin: auto;
    margin-top: 2%;
    padding: 10px;
    color: lightgray;
    font-family: normalSkrift;
    display: grid;
  }

  #top5_boks_id{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 67.5%;
    gap: 2%;
    
    margin-top: 2%;
    margin-left: 23.5%;
  }

  #top5Værdipapirer_tværsAfPorteføljer_id{
    background-color: #252525;
    border-radius: 10px;
    color: lightgray;
    font-family: normalSkrift;
    padding: 10px;
  }
  #top5Værdipapirer_urealiseret_id{
    background-color: #252525;
    border-radius: 10px;
    color: lightgray;
    font-family: normalSkrift;
    padding: 10px;
  }

  .material-symbols-outlined {
    vertical-align: middle;
}

  
  hr{
    background-color: darkslategray;
    border: none;
    height: 1px;
  }