body{
    background-color: #121212;
      /* background-color: #141413;*/
      margin: 0;
  }

  @font-face {
    font-family: normalSkrift;
    src: url(/fonts/Bierstadt.ttf);
  }
  #topBar_id{
    width: 100%;
    background-color: #5F45A0;
    display: block;
    position: relative;
  }
  h1{
      display: inline-block;
      background-color: #5F45A0;
      color: white;
      margin: 0;
      font-family: Bahnschrift;
      padding: 0.8%;
      font-weight: normal;
  }
  #topBar_goBack_id{
    display: inline;
    color: white;
    position: absolute;
      top: 50%;
      right: 0; /* Placerer elementet til højre */
      transform: translateY(-50%);
      font-size: 200%;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    background-color: #252525;
    margin: 1%;
    border-radius: 8px;
    margin-top: 2.5%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .material-symbols-outlined {
    vertical-align: middle;
    
}

  li a 
  {
    text-decoration: none;
    display: block;
    font-family: normalSkrift;
    color: lightgray;
  }
  li a span{
    font-size: 100px;
    display: block;
    color: lightgray;
    font-size: 200% !important;
    
    padding-right: 15px;
    padding-top: 17px;
    padding-bottom: 17px;
    
  }

  li a:hover, 
li a:hover span {
  color: gray;
}
    #stockBox_id{
        width: 37%;
        border: 2px solid lightgray;
        display: inline-block;
        margin-top: 2.7%;
        padding: 0px;
        
    }
    #searchStocks_input_id{
        border: none;
        font-family: Bahnschrift;
        outline: 0;
        width: 99.3%;
        background-color: lightgray;
        border: 1px solid lightgray;
        font-size: 115%;
        padding: 8px;
    }
    #boi
    {
      height: 420px;
    }
    
  
  /* When clicked */
  button.active {
      color: dodgerblue !important;
      font-weight: bold;
  }
  #vælgMarked_id{
    display: inline-block;
    margin-top: 35px;
    font-size: 0;
  }
  #vælgMarked_id button{
    outline: none;
    border: none;
    font-family: normalSkrift;
    background-color: lightgray;
    display: inline-block;
    font-size: 16px;
    width: 115px;
    padding: 5px 0px 5px 0px;
  }
  #vælgMarked_id button:hover{
    cursor:pointer;
  }

  #stockBox_id{
    background-color: #252525;
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0px;
}
#stockBox_id button{
    border: 1px solid lightgray;
    font-family: 'Franklin Gothic Book';
    margin: 0;
    padding: 9px;
    display: block;
    width: 100%;
    background-color: transparent;
    outline: none;
    color: lightgray;
    text-align: left;
}
#stockBox_id button:hover{
    cursor: pointer;
    color: dodgerblue;
}
#viewStock_id{
    display: block;
    background-color: #252525;
    color: lightgray;
    font-family: bahnschrift;
    float: right;
    padding:10px;
    width: 97%;
    height: 395px;
    border-radius: 13px;
    margin-top: -40px;
    margin-right: 3%;
}
#viewStock_id p{
    font-family: normalskrift;
}
#ViewBuystockBox_id{
 
  float: right;
  width: 46%;
  margin-top: 3%;
}
#BuyStockButton_id{
  background-color: green;
  color: white;
  font-family: normalskrift;
  outline: none;
  border: none;
  padding: 7px 20px 7px 20px;
  margin-top: 1%;
  font-size: 15px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
#BuyStockButton_id:hover{
  cursor: pointer;
  background-color: darkgreen;
}
#NumberOfStocks_id{
  width: 20%;
  font-family: normalskrift;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  padding: 7px;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: lightgray;
 
  
}

.white-text{
  color: white;
}
.blue-text{
  color: blue;
}